name: Metrics
on:
  # Schedule daily updates
  # schedule: [{cron: "0 1 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRIC_TOKEN }}

          # Options
          user: akelio-zhang
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Shanghai
          # Language
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_ignored: html, css, js
          plugin_languages_limit: 8
          plugin_languages_sections: most-used, recently-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_threshold: 0%
          
          # Wakatime
          plugin_wakatime: yes
          plugin_wakatime_sections: time, languages, languages-graphs, editors, editors-graphs
          plugin_wakatime_token: ${{ secrets.WAKATIME_API_KEY }}
